@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
	font-family: 'Quicksand', sans-serif;
}

.profile {
	background-color: rgb(244, 244, 244);
}

.img-fluid {
	border-radius: 50% !important;
	width: 50%;
	height: auto;
	margin: auto;
}